<script type="text/javascript">
function getParam(name) {
  return decodeURIComponent((new RegExp('[?|&]' + name + '=' + '([^&;]+?)(&|#|;|$)').exec(location.search) || [null, ''])[1].replace(/\+/g, '%20')) || null;
}
function printCounter() {
  var $tmp = getParam('c');
  if ($tmp == null || $tmp == 'undefined' || $tmp == 0) {
    var $jsName  = document.querySelector('.jsK');
    $jsName.innerHTML = "";
  } else {
    var $jsValue = document.querySelector('.jsC');
    $jsValue.innerHTML = getParam('c').replace(/^0+/, '')
  }
}
window.onload = printCounter;
</script>
